<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="EFContext" connectionString="Data Source=win8;Initial Catalog=EF;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>