<div class="container" ng-init="init('@ViewBag.CaseNumber')">
    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="showAjaxError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ajaxError}}
        </div>
    </div>
    <div class="row" style="padding-top:8px;padding-bottom:8px;">
        <div class="col-md-3">
            <div class="container">
                <h4><span class="label label-default">Case# - {{caseNum}}</span></h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="container">
                <h4><span class="label label-default">County - {{ county }}</span></h4>
            </div>
        </div>
        <div ng-hide="loaded" class="col-md-3 container center-block">
            <img src="~/Content/images/progress.gif" class="ajax-indicator" /> Loading...
        </div>

        @*<p>taken from http://www.dematte.org/2014/01/08/MixingAngularJSAndASPNETMVC.aspx</p>*@
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ referrals.length}} Referrals</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Referral</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Gender</th>
                        <th>Race</th>
                        <th>Ethnicity</th>
                    </tr>
                    <tr ng-repeat="r in referrals">
                        <td><a ng-href="{{ buildReferralUrl(r.ReferralId)}}">{{r.ReferralId}}</a></td>
                        <td>{{r.FormattedName}}</td>
                        <td>{{r.DOB}}</td>
                        <td>{{r.Gender}}</td>
                        <td>{{r.Race}}</td>
                        <td>{{r.Ethnicity}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Parents</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Id</th>
                        <th>Relationship</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>DOB</th>
                        <th>Race</th>
                        <th>Ethnicity</th>
                    </tr>
                    <tr ng-repeat="p in parents">
                        <td>{{p.Id}}</td>
                        <td>{{p.RelationshipCode}}</td>
                        <td>{{p.FormattedName}}</td>
                        <td>{{p.Gender}}</td>
                        <td>{{p.DOB}}</td>
                        <td>{{p.Race}}</td>
                        <td>{{p.Ethnicity}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Programs</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Program</th>
                        <th>Referral</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Eligibility</th>
                    </tr>
                    <tr ng-repeat="p in programs">
                        <td>{{p.ProgramCode}}</td>
                        <td><a ng-href="{{ buildReferralUrl(p.Referral)}}">{{p.Referral}}</a></td>
                        <td>{{p.StartDateText}}</td>
                        <td>{{p.EndDateText}}</td>
                        <td>{{p.EligiblityStatusText}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Addresses</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <tr>
                        <th>Referral</th>
                        <th>Address</th>
                        <th>Type</th>
                        <th>Phone</th>
                    </tr>
                    <tr ng-repeat="a in addresses">
                        <td><a ng-href="{{ buildReferralUrl(a.Referral)}}">{{a.Referral}}</a></td>
                        <td>{{a.FormattedAddress}}</td>
                        <td>{{a.Type}}</td>
                        <td>{{a.Phone}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
