<div class="container">
    <div class="row" ng-init="caseNum=@ViewBag.CaseNumber">
        People search by address!!!!

        <p>Case # - {{caseNum}}</p>
        <p>taken from http://www.dematte.org/2014/01/08/MixingAngularJSAndASPNETMVC.aspx</p>

    </div>
</div>