<div class="container">
    <div class="row"><div class="alert alert-danger" role="alert" ng-show="showAjaxError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ajaxError}}
        </div>
    </div>
    <div class="row">
        
        <form name="searchForm" ng-submit="searchByCase()" class="form-inline">
            <fieldset ng-disabled="searching">
                <div class="form-group">
                    <input type="number" placeholder="HHS Case #" ng-model="searchForm.searchCase" ng-bind="searchForm.searchCase" required class="form-control" />
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>    
                </div>
                <div ng-show="searching" class="loading"><img src="~/Content/images/progress.gif" class="ajax-indicator" />&nbsp; Searching...</div>
            </fieldset>
        </form>
        
    </div>
    <p></p>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ searchResults.length}} Addresses</div>
            <div class="panel-body">
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Case #</th>
                    <th>Referral</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>St</th>
                    <th>Zip</th>
                    <th>Map</th>
                </tr>
                <tbody>
                    <tr data-ng-repeat="r in searchResults">
                        <td><a ng-href="{{ buildPeopleUrl(r.Case)}}">{{r.Case}}</a></td>
                        <td>{{r.Referral}}</td>
                        <td>{{ r.Line1 }}</td>
                        <td>{{ r.Line2 }}</td>
                        <td>{{ r.City }}</td>
                        <td>{{ r.State }}</td>
                        <td>{{ r.Zip }}</td>
                        <td>{{ r.Lon }} {{r.Lat}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            </div>
    </div>
</div>
