<div class="container">
    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="showAjaxError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ajaxError}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form name="searchForm" ng-submit="searchByName()" class="form-inline">
                <fieldset ng-disabled="searching">    
                    <div class="form-group">
                        <input type="text" placeholder="Name" ng-model="searchForm.searchName" ng-bind="searchForm.searchName" required class="form-control" autofocus />
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-7">
            <div ng-show="searching"><img src="~/Content/images/progress.gif" class="ajax-indicator" />&nbsp; Searching...</div>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ searchResults.length}} HHS Referrals</div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                        <tr>
                            <th>Referral</th>
                            <th>Name</th>
                            <th>Cases</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Race</th>
                            <th>Ethnicity</th>
                        </tr>
                        <tbody>
                            <tr data-ng-repeat="r in searchResults">
                                <td><a ng-href="{{ buildReferralUrl(r.ReferralId)}}">{{r.ReferralId}}</a></td>
                                <td>{{ r.FormattedName }}</td>
                                <td><a ng-click="showCases(r.ReferralId)"><span class="badge" style="cursor:pointer">{{r.Cases}}</span></a></td>
                                <td>{{ r.DOB }}</td>
                                <td>{{ r.Gender }}</td>
                                <td>{{ r.Race }}</td>
                                <td>{{ r.Ethnicity }}</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
