<title>@ViewBag.Title - OPI HHS  Insight</title>
<div class="container">
    <div class="row">
        <div class="jumbotron"><span class="glyphicon glyphicon-tasks"></span> City report goes here...</div>
    </div>
</div>
